#amountnumber {
  text-transform: uppercase;
  max-width:150px;
}

.highlighted {
    background: #28A197;
    color: #FFF;
    text-align: center;
    margin: 2.5em 0 2.5em 0;
    padding: 1.5em 0 2em 0;
    font-weight: bold;
}

#global-cookie-message {
  padding-left: 15px;
}
