{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <header><h1 class="heading-xlarge">Benefits repayment</h1></header>

      <h2 class="heading-medium">About benefits repayment after death</h2>
      <p>Suspendisse et nulla semper nunc eleifend laoreet in nec felis. Duis rhoncus arcu vel justo pellentesque viverra. Duis at varius enim, non facilisis mi.</p>

      <strong>You'll need:</strong>
      <ul class="list-bullet">
        <li>your repayment letter</li>
        <li>your reference number (at the top of your letter)</li>
        <li>the exact amount you owe</li>
      </ul>
      <div class="transaction">
        <p class="get-started group">
          <a class="button" href="payment-details">Start now</a>
        </p>
      </div>
      <p>Contact Department for Work and Pensions (<abbr title="Department for Work and Pensions">DWP</abbr>) Debt Management on 0345 850 0293 immediately if you can't make a payment.</p>
      <p><strong>Opening times:</strong> <br>Monday to Friday: 8am to 8pm <br>Saturday: 9am to 4pm</p>
    </div>
  </div>
</main>

{% endblock %}
