{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">

    <div class="column-two-thirds">
			<h1 class="heading-large">Payment cancelled</h1>
			<p class="lede">You have cancelled the payment process.</p>
			<p>No money has been taken from your account.</p>

      <nav class="form-steps" role="navigation">
        <a href="//gov.uk" class="button">Finish</a>
      </nav>
		</div>
  </div>

</main>

{% endblock %}
