{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div>
		<div class="reference-number-wrap highlighted">
	    <h1 class="heading-medium"><i class="icon-ok"></i>
				<span>Your payment has been successful</span>
			</h1>
		</div>

  </div>
	<div class="clear">
    <h2 class="heading-medium">What happens next</h2>
    <p>Nunc vitae tellus urna. Proin vestibulum, ante sed ultricies euismod, elit sem pretium nisi, vel finibus justo erat vitae quam.</p>
  </div>
	<a class="button" href="//gov.uk">Finish</a>
</main>

{% endblock %}
